.top-padded {
    padding-top: 5rem;
}

.odd-listing { color:black; }
.odd-listing:nth-child(odd) { background-color:rgba(0, 0, 0, 0.05); }
.odd-listing:nth-child(even) { background-color:rgb(209, 209, 194); }

.divide-padding{
    padding-top:0.5rem !important;
    padding-bottom:0.5rem !important;
}

.dowwn-side{
    padding-bottom: 3rem;
}

.new-item {
    background-color: #9cdb85;
}
